@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixins';
@import 'global';


@import 'components/header';
@import 'page-index/top-slider';
@import 'components/advantages';
@import 'components/products';
@import 'page-index/top-products';
@import 'page-index/banners';
@import 'page-index/brands';
@import 'page-index/news';
@import 'components/footer';



.catalog {
  padding: 48px 0 73px;
  &__title{
    @extend %ruda-700;
    font-size: 42px;
    line-height: 1.2;
    color: $dark-900;
    margin-bottom: 48px;
  }
  &__inner {
    display: flex;
  }
}
.filter {
  margin-right: 32px;
    width: 300px;
  font-size: 18px;
    line-height: 1.2;
    color: $dark-500;
  &__item {
    border: 1px solid $silver-600;
    border-radius: 6px;
    margin-bottom: 30px;
  }

  &__btn {
    position: relative;
    width: 300px;
    padding: 18px 0 18px 18px;
    @extend %ruda-400;
    font-size: 24px;
    line-height: 1.2;
    color: $dark-900;
    text-align: left;
    border-bottom: 1px solid $silver-600;

    &::after {
      position: absolute;
      content: '';
      top: 26px;
      right: 23px;
      width: 10px;
      height: 18px;
      background-image: url('../images/icons/chevron-right.svg');
      transform: rotate(-90deg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__categories-list.filter__close,
  &__offer-list.filter__close,
  &__brands-list.filter__close,
  &__price-form.filter__close{
    display: none;
  }

  &__categories-list {
    padding: 18px 0 18px 18px;
    max-height: 300px;
    overflow: auto;

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #C4C4C4;
    }
  }

  &__categories-item {
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__offer-list,
  &__brands-list{
    padding: 18px 0 18px 18px;
  }
  &__offer-item,
  &__brands-item{
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__offer-text,
  &__brands-text{
    padding-left: 36px;
  }
  &__offer-input{
    @extend %checkbox-hidden;
    &:checked + .filter__offer-checkbox{
      background-image: url('../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 12px 8px;
    }
  }
  &__offer-checkbox,
  &__brands-checkbox{
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    width: 24px;
    height: 24px;
    background: #F6F6F6;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
  }
  &__brands-input{
    @extend %checkbox-hidden;
    &:checked + .filter__brands-checkbox{
      background-image: url('../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 12px 8px;
    }
  }
  &__price-form{
    padding: 22px 18px 18px;
  }
  &__price-label{
    font-size: 16px;
    line-height: 1.2;
    @extend %ruda-400;
    color: $silver-600;
  }
  &__price-from,
  &__price-to{
    width: 80px;
    display: inline-block;
    text-align: center;
    background: #F6F6F6;
    border: 1px solid $silver-600;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1;
    @extend %opensans-400;
    padding: 12px 0;
    margin: 0 6px;
  }
  &__price-from{
    margin-right: 9px;
  }
}
.irs-with-grid .irs-grid {
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}
.irs--flat .irs-line {
  top: 30px;
  height: 2px;
  background-color: #C4C4C4;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #63A60E;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #63A60E;
}
.irs--flat .irs-handle>i:first-child {
  display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
display: none;
}

.catalog-content{
  width: 100%;
  &__filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__btn{
    width: 47px;
    height: 47px;
    margin-left: 15px;
  }
  &__btn-icon{
    width: 36px;
    height: 34px;
    fill: $silver-600;
  }
}