.advantages {
    background-color: $silver-100;
    padding: 33px 0 29px 0;

    &__list {
      display: flex;
      justify-content: center;
      padding-top: 13px;
      @include mq('tablet-2'){
        flex-wrap: wrap;
        padding-top: 0;
      }
      @include mq('phone'){
        justify-content: flex-start;
      }
    }

    &__item {
      max-width: 264px;
      width: 100%;
      padding-left: 74px;

      background-position: left top;
      background-repeat: no-repeat;
      background-size: 50px 50px;

      &:not(:last-child) {
        margin-right: 65px;
        @include mq('tablet'){
          margin-right: 0;
        }
      }

      &--delivery {
        background-image: url('../images/icons/icon-scooter.svg');
      }

      &--return {
        background-image: url('../images/icons/icon-return.svg');
      }

      &--24 {
        background-image: url('../images/icons/icon-24hours.svg');
      }
      @include mq('tablet-2'){
        margin-bottom: 30px;
      }
      @include mq('phone'){
        margin-bottom: 10px;
      }
    }


    &__subtitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.4;
      color: $dark-900;
      margin-bottom: 6px;
      @include line-clamp(1);
    }

    &__text {
      font-size: 14px;
      line-height: 140%;
      color: $dark-500;
      @include line-clamp(3);
    }
  }