.footer {
  background-color: $dark-800;
  color: $white;
  padding-top: 30px;

  @include mq('phone') {
    padding-top: 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 26px;

    @include mq('desktop') {
      flex-wrap: wrap;
    }

    @include mq('phone') {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    @include mq('tablet-2') {
      margin-bottom: 21px;
    }
  }

  &__img {
    @include mq('tablet-2') {
      margin: 0 auto;
    }
  }

  &__content-box {
    max-width: 306px;
    width: 100%;
    margin: 0 58px 38px 0;

    @include mq('phone') {
      margin: 0;
    }
  }

  &__list {
    column-count: 3;
    column-gap: 75px;

    @include mq('desktop') {
      column-count: 2;
    }

    @include mq('phone') {
      margin: 45px 0 35px;
    }
  }

  &__item {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.4;
  }

  &__bottom {
    padding: 24px 0;
    border-top: 1px solid rgba($white, 0.1);
  }

  &__bottom-box {
    display: flex;
    justify-content: space-between;

    @include mq('phone') {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__copy {
    font-size: 14px;
    line-height: 1.4;

    @include mq('phone') {
      margin-top: 24px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 19px;
  }
}