<div class="overlay"></div>
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__content">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link header__link--address animation" href="#">
              адрес и время доставки
            </a>
          </li>
          <li class="header__item">
            <a class="header__link header__link--tel animation" href="#">
              горячая линия 24/7
            </a>
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link animation" href="#">доставка</a>
          </li>
          <li class="header__item">
            <a class="header__link animation" href="#">о нас</a>
          </li>
          <li class="header__item">
            <a class="header__link animation" href="#">новости</a>
          </li>
        </ul>
        <div class="header-mob">
          <button class="header-mob__burger" type="button">
            <span class="header-mob__line"></span>
            <span class="sr-only">Открыть меню</span>
          </button>
        </div>
        <div class="mob-nav">
          <div class="mob-nav__header">
            <a class="mob-nav__logo" href="#">
              <img class="mob-nav__img" src="images/logo-color.svg" width="200" height="60" alt="логотип">
            </a>
            <button class="mob-nav__close" type="button">
              <span class="sr-only">Закрыть меню</span>
            </button>
          </div>
          <div class="mob-nav__entry">
            <button class="mob-nav__btn mob-nav__btn--entry" type="button">
              Вход
            </button>
            <button class="mob-nav__btn" type="button">
              Регистрация
            </button>
          </div>
          <div class="mob-nav__catalog">
            <button class="mob-nav__cat" type="button">
              Каталог товаров
              <span class="mob-nav__line"></span>
            </button>
          </div>
          <address class="mob-nav__contacts">
            <ul class="mob-nav__box">
              <li class="mob-nav__links mob-nav__links--phone">
                <a class="mob-nav__phone" href="tel:+7907288365">
                  +7 907 288 365
                </a>
              </li>
              <li class="mob-nav__links mob-nav__links--address">
                <a class="mob-nav__address"  href="#">
                  Санкт-Петербург, ул. Ленина, 1
                </a>
              </li>
            </ul>
            <ul class="social">
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon social__icon--mob">
                    <use xlink:href="images/sprite.svg#icon-facebook"></use>
                  </svg>
                  <span class="sr-only">Ссылка на фейсбук</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon social__icon--mob">
                    <use xlink:href="images/sprite.svg#icon-youtube"></use>
                  </svg>
                  <span class="sr-only">Ссылка на ютуб</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon social__icon--mob">
                    <use xlink:href="images/sprite.svg#icon-telegram"></use>
                  </svg>
                  <span class="sr-only">Ссылка на телеграмм</span>
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon social__icon--mob">
                    <use xlink:href="images/sprite.svg#icon-instagram"></use>
                  </svg>
                  <span class="sr-only">Ссылка на инстаграмм</span>
                </a>
              </li>
            </ul>
          </address>
          <ul class="mob-nav__list">
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Доставка</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">О нас</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Новости</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Контакты</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Акции</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Вакансии</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Отзывы</a>
            </li>
            <li class="mob-nav__item">
              <a class="mob-nav__link" href="#">Публичная оферта</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__box">
        <a class="logo" href="#">
          <picture>
            <source srcset="images/logo.png" type="image/svg" media="(min-width: 768px)">
            <img class="logo__img" src="images/logo-mob.svg"  alt="логотип">
          </picture>
        </a>
        <div class="submenu">
          <button class="submenu__btn" type="button">
            Каталог продуктов
            <span class="submenu__line"></span>
          </button>
          <ul class="submenu__list">
            <li class="submenu__item">
              <a class="submenu__link" href="#">Овощи и фрукты</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Молочные продукты</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Хлеб</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Мясо</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Колбаса</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Рыба</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Алкоголь</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Напитки</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Торты</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Мясо</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Чай, кофе</a>
            </li>
            <li class="submenu__item">
              <a class="submenu__link" href="#">Напитки</a>
            </li>
          </ul>
        </div>
        <form class="form-search">
          <label class="sr-only" for="search">поиск</label>
          <input class="form-search__input" type="search" id="search" placeholder="Найти в магазине ..." required>
          <button class="form-search__btn" type="submit">поиск</button>
        </form>
        <div class="user-nav">
          <ul class="user-nav__list">
            <li class="user-nav__item">
              <button class="user-nav__btn user-nav__user" type="button">
                <svg class="user-nav__img">
                  <use xlink:href="images/sprite.svg#icon-user"></use>
                </svg>
                <span class="sr-only">Личный кабинет</span>
              </button>
            <li class="user-nav__item">
              <button class="user-nav__btn user-nav__search" type="button">
                <svg class="user-nav__img">
                  <use xlink:href="images/sprite.svg#icon-search-white"></use>
                </svg>
                <span class="sr-only">Открыть поиск</span>
              </button>
            </li>
            </li>
            <li class="user-nav__item">
              <button class="user-nav__btn" type="button">
                <svg class="user-nav__img">
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
                <span class="sr-only">понравилось</span>
                <span class="user-nav__num">12</span>
              </button>
            </li>
            <li class="user-nav__item">
              <button class="user-nav__btn" type="button">
                <svg class="user-nav__img">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="sr-only">корзина</span>
                <span class="user-nav__num">12</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>