.brands {
  padding: 72px 0;

  @include mq('tablet-2') {
    padding: 48px 0;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__wrapper {
    align-items: center;
  }

}